.switcher {
    width: 24px;
    height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: #ffffff;
    border: 0.7px solid #dfe5f9;
    box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.05),
        2px 2px 15px rgba(0, 44, 175, 0.05);
    border-radius: 12px;
    cursor: pointer;
}

.switcherImg {
    width: 12px;
	height: auto;
}