.content {
	display: flex;
	flex-direction: column;
	flex: 2 0 auto;
	padding: 24px 42px 24px 39px;
}

.header {
	align-self: flex-start;
    margin-bottom: 8px;
}

.mainLocation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainLocationIcon {
    max-width: 14px;
    max-height: 14px;
}

.mainLocationTitle,
.mainLocationSubtitle {
    margin: 0 10px 0 4px;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.1px;
    color: #00A0EC;
}

.mainLocationSubtitle {
	margin-left: 10.53px;
}