.menu {
    max-width: 101px;
	/* height: 100vh; */
	display: flex;
	flex-direction: column;
    background-color: #f5f9fe;
	border-right: 1px solid rgba(46, 91, 255, 0.1);
	/* position: relative; */
}

.menuLogo {
    max-width: 34px;
    max-height: 34px;
    margin: 24px 33px 60px;
	cursor: pointer;
}

.menuBell {
	max-width: 16px;
	max-height: 16px;
	margin: auto auto 24px;
	cursor: pointer;
}

.menuAvatar {
	max-width: 34px;
	max-height: 34px;
	margin: 0 33px 24px;
	cursor: pointer;
}

.avatarWrapper {
	width: 34px;
	height: 34px;
}