.main {
    display: flex;
    position: relative;
}

.mainSwitcher {
    max-height: 100%;
    position: relative;
    background-color: #f5f9fe;
}

.switcher {
    max-width: 24px;
    max-height: 24px;
    position: absolute;
    top: 78px;
    left: 228px;
    transition: transform 0.5s ease-in-out;
}

.switcherInvisible {
    max-width: 24px;
    max-height: 24px;
    position: absolute;
    top: 78px;
    left: 2px;
    transform: scaleX(-1);
    transition: transform 0.5s ease-in-out;
}

.mainSwitcherInvisible {
    width: 12px;
    height: 100%;
    border-right: 1px solid rgba(46, 91, 255, 0.1);
    background-color: #f5f9fe;
}

.submenu {
    width: 241px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: #f5f9fe;
    border-right: 1px solid rgba(46, 91, 255, 0.1);
    background-color: #f5f9fe;
}

.submenuTitle {
    margin: 24px 24px 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #afb6c6;
}

.headerBottom {
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.headerBottomTitle {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #1e212a;
}

.headerBottomSubtitle {
    font-size: 14px;
    line-height: 18px;
    color: #1e212a;
}

.btnCreate {
    width: 152px;
    height: 40px;
    border-radius: 6px !important;
    border: none !important;
    background-color: #00A0EC !important;
}

.btnCreate:hover {
    background-color: #0683DD !important;
}

.btnText {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #FFFFFF;
}
