.main {
    width: 100%;
    display: flex;
    position: relative;
}

.switcher {
    max-width: 24px;
    max-height: 24px;
    position: absolute;
    top: 78px;
    left: 228px;
}

.switcherInvisible {
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    transform: translate(-50%, 78px) scaleX(-1);
}

.submenu {
    width: 241px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5f9fe;
    border-right: 1px solid rgba(46, 91, 255, 0.1);
}

.submenuTitle {
    margin: 24px 24px 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #afb6c6;
}

.headerBottom {
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.headerBottomTitle {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #1e212a;
}

.headerBottomSubtitle {
    font-size: 14px;
    line-height: 18px;
    color: #1e212a;
}

.btnCreate {
    width: 152px;
    height: 40px;
    border-radius: 6px !important;
    border: none !important;
    background-color: #00A0EC !important;
}

.btnCreate:hover {
    background-color: #0683DD !important;
}

.btnText {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #FFFFFF;
}
