.popupModal {
    width: 460px;
    height: 262px;
    background-color: #ffffff;
    box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.05),
        2px 2px 15px rgba(0, 44, 175, 0.05);
    border-radius: 12px;
}

.popupModalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 16px 21px 16px 24px;
    background-color: #f6f7fb;
    border-bottom: 1px solid #eef0f6;
	border-radius: 12px 12px 0 0;
}

.modalHeaderTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #1e212a;
}

.popupModalInner {
    padding: 0 40px;
	text-align: left;
}

.modalInnerText,
.innerContentText {
    font-size: 14px;
    line-height: 150%;
    mix-blend-mode: normal;
    color: #1E212A;
}

.innerContentText {
    margin-left: 28px;
}

.modalInnerContent {
	display: flex;
	gap: 12px;
	margin-bottom: 24px;
}

.modalInnerText {
	margin-bottom: 12px;
}

.modalInnerBtn {
    max-width: 119px;
    max-height: 40px;
	align-self: flex-end;
    background-color: linear-gradient(0deg, #f24445, #f24445), #ffffff;
    border-radius: 6px;
}

.modalInnerBtn span {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.1px;
    color: #ffffff;
}