.submenuList {
	margin: 0 24px;
}

.submenuListItem {
    display: flex;
    align-items: center;
    gap: 12px;
	margin-bottom: 20px;
    position: relative;
}

.listItemImg {
    max-width: 20px;
    max-height: 20px;
}

.listItemText {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    /* display: flex;
    align-items: center; */
    color: #1e212a;
}

.listItemSubmenu {
    position: absolute;
    top: 33px;
    left: 32px;
}

.listSubmenuItem {
    font-size: 13px;
    line-height: 120%;
    margin-bottom: 16px;
    /* display: flex;
    align-items: center; */
    color: #1E212A;
}

.active {
    color: #00a0ec;
}
