.submenuList {
	/* margin: 0 24px; */
}

.submenuListItem {
    /* display: flex;
    align-items: center; */
    /* gap: 12px; */
	/* margin: 0 24px; */
    position: relative;
}

.submenuListItem + .submenuListItem {
    margin-top: 20px;
}

.submenuListItem a {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 24px;
}

.listItemImg {
    max-width: 20px;
    max-height: 20px;
}

.listItemText {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    /* display: flex;
    align-items: center; */
    color: #1e212a;
}

.listItemSubmenu {
    width: 100%;
    position: absolute;
    top: 30px;
    /* left: 32px; */
    left: 0;
}

.listSubmenuItem {
    height: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 13px;
    line-height: 120%;
    color: #1E212A;
}

.activeStyle {
    background-color: #EEF7FC;
}

.listSubmenuItem a {
    width: 100%;
    height: 100%;
    color: inherit;
    margin-left: 0;
}

.listSubmenuItem span {
    margin-left: calc(24px + 32px);
}