.app {
   min-height: 100%;
}

.appWrapper {
    height: 100%;
    min-height: 100vh;
    display: flex;
    /* position: relative; */
}

.contentWrapper {
    width: 946px;
}

.active p,
.active span {
    color: #00A0EC;
}