.submenu {
	width: 241px;
    background-color: #F5F9FE;
    border-right: 1px solid rgba(46, 91, 255, 0.1);
    position: absolute;
    top: 0;
    left: 101px;
    bottom: 0;
}

.submenuTitle {
    margin: 24px 24px 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #afb6c6;
}