.navbar {
    margin: 0 15px 168px;
}

.navbarMenu {
    max-width: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.navbarMenuItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 7.62px;
}

.menuItemImg {
    max-width: 20px;
    max-height: 20px;
}

.menuItemText {
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    color: #afb6c6;
}